<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Great Number Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to the Great Number Game!!1</h1>
        <h2>I am thinking of a number between 1 and 100.</h2>
        {% if guess > 0 %}
        <div class="wrong">
            <h1>WRONG!!!!!!</h1>
            <h3>YOU HAVE FAILED</h3>
            <h3>YOUR GUESS IS TOO {{"HIGH" if guess > number else "LOW"}}</h3>
        </div>
        {% endif %}
        <form action="/guess" method="POST">
            <label>
                Take a guess:
                <input
                    name="guess"
                    type="number"
                    min="1"
                    max="100"
                    required />
            </label>
            <input type="submit" class="button" value="Guess" />
        </form>
        <a href="/leaderboard">view high scores</a>
    </body>
</html>
