{% extends "layouts/main.html" %}
{%- block title -%}Welcome, {{ user.first_name }}{%- endblock -%}

{%- block header -%}
<header>
    <h1>CodingDojo Wall</h1>
    <div style="display: flex; gap: 2em; align-items: baseline;">
        <h3>Welcome, {{ user.first_name }}</h3>
        <a href="/logout" class="danger button">Log Out</a>
    </div>
</header>
{%- endblock -%}

{% block content -%}
{% with messages = get_flashed_messages(category_filter="success") %}
{% if messages|count > 0 %}
<div class="success flash" style="cursor: pointer;" onclick="this.remove()">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter="message-error") %}
{% if messages|count > 0 %}
<div class="danger flash" style="cursor: pointer;" onclick="this.remove()">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="page row">
    <div class="wide card">
        <h3 style="text-decoration: underline;">{{ messages|count }} Message(s) for You</h3>
        {% for message in messages %}
        {% include "views/message/_insert.html" %}
        {% endfor %}
    </div>
    <div class="wide card">
        <h3 style="text-decoration: underline;">Send Messages</h3>
        <p style="color: lime;">You have sent 69 messages so far</p>
        {% for receiver_user in all_users|rejectattr("id", "equalto", user.id)|sort(attribute="last_name") %}
        {% include "views/message/_form.html" %}
        {% endfor %}
    </div>
</div>
{%- endblock %}
