* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 650px;
  min-height: 100vh;
  margin: auto;

  font-size: 1.5rem;

  background-color: #eee;
}

.panel {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;

  border-radius: 1rem;
  background-color: #333;
  color: #ddd;

  box-shadow: 0px 2px 4px #333;

  & h1 {
    color: goldenrod;
  }
}

small {
  font-style: italic;
}

label.clickable {
  cursor: pointer;
}

label:not(.inline), .entry {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: baseline;

  &.comments {
    flex-direction: column;
    gap: 0;
  }

  & > * {
    flex: 1;
  }

  &:has(:required):before {
    content: "*";
    color: red;
  }
}

textarea {
  width: 100%;
}

fieldset {
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: .25em;

  & > label {
    display: inline-block !important;
    margin-right: 1em;
  }
}

input, select, textarea {
  font-size: inherit;
  padding: .25em;

  border: none;
  border-radius: .25em;
  box-shadow: inset 1px 1px 4px black;

  resize: none;

  &[type="radio"], &[type="checkbox"] {
    width: .8em;
    height: .8em;
    box-shadow: none;
  }
}

ul {
  list-style: inside;
}

.shrink {
  display: flex;
  justify-content: flex-end;
}

button, .button {
  color: black;
  background-color: goldenrod;
  border: none;
  border-radius: .3em;
  padding: .5em;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 2px 2px black;
}
