#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: .5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  text-align: center;

  & label {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
}

.task {
  display: flex;
  gap: 1em;
  width: 100%;
  & p {
    flex: 1;
    margin: auto;
    text-align: right;
  }
}
