* {
  text-align: left;
}

.heading, .price {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: baseline;
  margin: auto;
  width: fit-content;

  & .actions {
    text-align: right;

    & a:not(:last-child) {
      padding-right: .5em;
      border-right: 1px solid gray;
      margin-right: .5em;
    }
  }
}
.heading {
  justify-items: space-between;
  width: 100%;
}
.date {
  color: #777;
  font-size: .8em;
}
