* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  text-align: center;
  font-size: 1.5rem;

  background-color: #eee;
  color: #222;
}

input[type="number"] {
  color: inherit;
  width: 8ch;
  text-align: right;
  box-shadow: 1px 1px #555;
}

a.button, input {
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;

  font-size: 1em;
  font-weight: bold;

  padding: .5em;
  border: none;
  border-radius: .25em;

  color: white;

  &#increment, &#submit {
    background-color: #38c;
  }

  &#reset {
    background-color: #833;
  }
}
