<!DOCTYPE html>
<html lang="en">
    <head>
        <title>First Flask CRUD Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Frens</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>First name</th>
                    <th>Last name </th>
                    <th>Occupation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in friends %}
                <tr>
                    <td>{{ friend.id }}</td>
                    <td><a href="/{{ friend.id }}">{{ friend.first_name }}</a></td>
                    <td>{{ friend.last_name }} </td>
                    <td>{{ friend.occupation }}</td>
                    <td>
                        <a href="/edit/{{ friend.id }}" class="button">Edit</a>
                        <a href="/delete/{{ friend.id }}" class="danger button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="/new" class="plus button">Create new fren</a>
        </div>
    </body>
</html>
