:root {
  --fg: #ddd;
  --dark-fg: #222;
  --bg: #333;
  --light-bg: #555;
  --button: #48c;
  --danger-button: firebrick;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: 800px;
  margin: 1em auto;

  color: var(--fg);
  background-color: var(--bg);
}

thead > tr {
  background-color: black !important;
}

tr:nth-child(odd) {
  background-color: var(--light-bg);
}

tr {
  & :where(th, td) {
    padding: .5em;
  }
}

.button {
  display: inline-block;
  padding: .5em;

  cursor: pointer;

  color: var(--fg);
  background-color: var(--button);
  font-weight: bold;
  text-decoration: none !important;

  border-radius: .25em;
  box-shadow: 1px 1px black;

  &:is(.danger) {
    color: var(--dark-fg);
    background-color: var(--danger-button);
  }
}
