{% extends "layouts/main.html" %}
{%- block title -%}{{ author.name }}{%- endblock title -%}
{% block content -%}
<h1>{{ author.name }}</h1>
<div class="wide-row">
    <div class="card">
        <h3>Details</h3>
        <hr>
        <ul>
            <li>Born: {{ author.created_at }}</li>
            <li>Died: {{ author.updated_at }}</li>
        </ul>
        <hr>
        <div class="wide-row">
            <a href="/author/{{ author.id }}/edit" class="button">Edit</a>
            <a href="/author/{{ author.id }}/delete" class="danger button">Forget</a>
            <a href="/author">Author index</a>
        </div>
    </div>
    <div class="card">
        {% with books = author.books %}
        {% if books|length > 0 %}
        <h3>Contributed to works:</h3>
        {% include "views/book/_table.html" %}
        {% else %}
        <h3>This author has made no contributions.</h3>
        {% endif %}
        <hr>
        <form class="wide-row" action="/author/add_book" method="POST">
            <input type="hidden" name="author_id" value="{{ author.id }}" />
            <h3>Cite a work by this author:</h3>
            <select name="book_id" id="book_id" onchange="this.form.submit()">
                <option>-- Select a work --</option>
                {% for book in all_books %}
                {% if not book.id in books|map(attribute='id') %}
                <option value="{{ book.id }}">{{ book.title }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>
        {% endwith %}
    </div>
</div>
{%- endblock content %}
