{% extends "layouts/main.html" %}
{%- block title -%}Add a new Ninja{%- endblock title -%}
{% block content -%}
<div class="card">
    <h1>Edit {{ ninja.first_name }}</h1>
    <form action="/ninja/update" method="POST">
        <input type="hidden" name="id" value="{{ ninja.id }}" />
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{ ninja.first_name }}" required />
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{ ninja.last_name }}" required />
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" min="1" max="200" value="{{ ninja.age }}" required />
        <label for="dojo_id">Dojo training this Ninja:</label>
        <select name="dojo_id" id="dojo_id" required>
            {% for dojo in dojos -%}
            {% if dojo.id == ninja.dojo_id %}
            <option value="{{ dojo.id }}" selected>{{ dojo.name }}</option>
            {% else %}
            <option value="{{ dojo.id }}">{{ dojo.name }}</option>
            {% endif %}
            {% endfor -%}
        </select>
        <div class="wide-row">
            <input type="submit" value="Update {{ ninja.first_name }}" class="plus button" />
            {% if whence is defined %}
            <a href="{{ whence }}" class="danger button">Cancel</a>
            {% else %}
            <a href="/ninja" class="danger button">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>
{%- endblock content %}
