{% extends "layout/main.html" %}
{%- block title -%}
Users
{%- endblock title -%}
{% block content -%}
<h1>All Users</h1>
<table cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Actions</th>
        </tr>
    </thead>
    {%- for user in users %}
    <tr>
        <td><a href="/user/{{ user.id }}">{{ user.last_name }}, {{ user.first_name }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_at }}</td>
        <td>{{ user.updated_at }}</td>
        <td>
            <a href="/user/edit/{{ user.id }}" class="button">Edit</a>
            <a href="/user/delete/{{ user.id }}" class="danger button">Delet</a>
        </td>
    </tr>
    {% endfor -%}
</table>
<div>
    <a href="/user/new" class="plus button">Create User</a>
</div>
{%- endblock content %}
