<table cellspacing="0">
    <thead>
        <tr>
            <th>Title</th>
            <th>Page Count</th>
            <th>Published</th>
            <th>Latest Ed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="/book/{{ book.id }}">{{ book.title }}</a></td>
            <td>{{ book.pages }}</td>
            <td>{{ book.created_at }}</td>
            <td>{{ book.updated_at }}</td>
            <td>
                {% if author is defined %}
                <a href="/author/{{ author.id }}/remove_book/{{ book.id }}" class="danger button">Uncite</a>
                {% else %}
                <a href="/book/{{ book.id }}/edit" class="button">Edit</a>
                <a href="/book/{{ book.id }}/delete" class="danger button">Burn</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
