{% extends "layouts/main.html" %}
{%- block title -%}Books{%- endblock title -%}
{% block content -%}
<h1>Books</h1>
<div class="wide-row">
    <div>
        <div class="card">
            <h3>Write a new Book</h3>
            <hr>
            {% include "views/book/_form.html" %}
        </div>
        <div class="card">
            <a href="/author" class="button">View Authors</a>
        </div>
    </div>
    <div class="card">
        <h3>Our Library</h3>
        {% include "views/book/_table.html" %}
    </div>
</div>
{%- endblock content %}
